//- index.jade
doctype html
html(lang="en")
head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1.0')
	title='Project Bot'
	link(rel='shortcut icon' href='/img/favicon.png')
	link(rel='stylesheet' href='/css/style.min.css')
body
	.container
		#box
			#profile
				img(id="image" src="/img/robot.png")
			#interaction
				#messages-container
					#messages
				#input-container
					form(id='form')
						input(id='input' type='text' autocomplete='off')
						input(id='submit' type='submit')

	script(src='//code.jquery.com/jquery-2.1.4.min.js')
	script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js')
	script(src='/js/main.min.js')